body {
	font-family: serif;
	font-size: 18px;
	line-height: 1.6em;
	color: #333;
	background: #fff;
}

h1, h2 {
	font-weight: normal;
	font-size: 2.4em;
	margin: 1.2em 0 0.4em 0;
	page-break-after: avoid;
}

h2 {
	font-size: 1.8em;
}

a {
	color: inherit;
}

abbr {
	display: inline-block;
	position: relative;
}

abbr::after {
	content: '';
	position: absolute;
	bottom: 20%;
	left: 0;
	right: 0;
	border-bottom: 1px dotted #333;
}

address {
	display: inline;
}

.personalia address {
	display: block;
	font-style: normal;
	padding-left: 6em;
}

.personalia address .label {
	font-family: sans-serif;
	font-size: 0.9em;
	float: left;
	margin-left: -6.5em;
	opacity: 0.5
}

.vcalendar {
	list-style:none;
	padding-left: 0;
}

.vevent {
	margin-bottom: 0.8em;
}

.vevent .period {
	display: block;
	font-family: sans-serif;
	font-size: 0.9em;
	opacity: 0.5;
}

@media (min-width: 800px) {
	.vcalendar, .personalia address {
		padding-left: 12em;
	}

	.vevent .period, .personalia address .label {
		opacity: 1.0;
		float: left;
		margin-left: -13.3em;
	}
}

p {
	margin: 0 0 0.4em 0;
}

sup {
	line-height: 0;
}

:target {
	background: rgba(255, 255, 0, 0.5);
}

.project-name {
	font-style: italic;
}

.publications ol {
	list-style: disc;
}

.publications li > a.publication-title:first-child {
	display: block;
}

.publications .p-name.me {
	font-weight: bold;
}

.publication-title {
	font-style: italic;
}

#last-modified {
	opacity: 0.5;
}

@media(prefers-color-scheme: dark) {
	body {
		background: #333;
		color: #fff;
	}

	abbr::after {
		border-bottom-color: #fff
	}
}

@media print {
	body {
		font-size: 9pt;
	}
	
	article {
		padding: 0 4em;
	}

	section {
        /*page-break-inside: avoid;*/
	}

	li, #skills {
		page-break-inside: avoid;
	}
	
	#languages ul {
		padding: 0;
	}

	#languages li {
		display: inline-block;
	}

	#languages li:not(:last-child):after {
		content: ', ';
	}
	
	a {
		text-decoration: none;
		color: inherit;
	}
	
	a[title]:after {
		content: " (" attr(title) ")";
	}

	#toggle-details {
		display: none;
	}

	.project-name {
		font-style: inherit;
	}

	.project-name::before {
		content: '‘';
	}

	.project-name::after {
		content: '’';
	}

	body::after {
		display: block;
		text-align: center;
		content: '–';
		color: #ccc;
	}

	abbr::after {
		display: none;
	}
}

.less-detailed {
	display: none;
}

.hide-details .summary strong {
	font-weight: normal;
}

.hide-details .summary:not(.show-details) .less-detailed {
	display: inline;
}

.hide-details .summary:not(.show-details) .detailed {
	display: none;
}

.hide-details .important-low {
	display: none;
}

#toggle-details {
	float: right;
	clear: right;
}

#toggle-details .more-details {
	display: none;
}

.hide-details #toggle-details .more-details {
	display: inline;
}

.hide-details #toggle-details .less-details {
	display: none;
}

.details-toggle {
	display: none;
	color: inherit;
	text-decoration: none;
	opacity: 0.4;
	font-weight: bold;
	padding: 0 0.5ch;
}

.details-toggle:hover {
	opacity: 1.0;
}

.hide-details .summary:not(.show-details) .details-toggle {
	display: inline;
}

.hide-details .publications .authors {
	display: none;
}

@media print {
	.details-toggle {
		display: none !important;
	}
}

@media (min-width: 800px) {
	#last-modified {
		float: right;
	}

	article {
		max-width: 48em;
		margin: 4em auto;
	}
}